body {
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    margin: 1rem 0;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-family: 'Julius Sans One', sans-serif;
}

nav a:hover {
    color: #007BFF;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
}